<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>This is the home page for the
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <tr>
        <td><%= link_to 'User', users_path %></td>
     </tr>
     <tr>
        <td><%= link_to 'Microposts', microposts_path %></td>
     </tr>
     <tr>
        <td><%= link_to 'Hello', hello_path %></td>
     </tr>
     <tr>
        <td><%= link_to 'About', about_path %></td>
     </tr>
     <tr>
        <td><%= link_to 'Help', help_path %></td>
     </tr>
  </tbody>
</table>

<br>
